* text=auto
*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.godot text eol=lf
*.gdshader text eol=lf
*.uid text eol=lf
*.md text eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.ogg binary
*.wav binary
*.ttf binary
*.woff2 binary
